<configuration>

	<variable name="USER" value="${USER:-DEFAULT}" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="gca.in.xap.tools.operationtool.logback.ThresholdLoggerFilter">
			<logger>console</logger>
			<level>INFO</level>
		</filter>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%-16thread] %logger{32} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="STDOUT"/>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${sys:logdir:-/app/in/log}/xap-operation-tool-${USER}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${sys:logdir:-/app/in/log}/xap-operation-tool-${USER}.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>32</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%date %-5level [%-24thread] %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="FILE"/>
	</appender>

	<logger name="org.springframework" level="WARN"/>

	<logger name="uk.org.lidalia.sysoutslf4j.context.SysOutOverSLF4J" level="WARN"/>

	<logger name="gca.in.xap.tools.operationtool" level="INFO"/>

	<logger name="gca.in.xap.tools.operationtool.service.DefaultApplicationConfigBuilder" level="INFO"/>

	<logger name="gca.in.xap.tools.operationtool.service.XapService" level="INFO"/>

	<logger name="gca.in.xap.tools.operationtool.predicates.pu" level="DEBUG"/>

	<logger name="org.openspaces.pu.container.support.ResourceApplicationContext" level="WARN"/>

	<root level="INFO">
		<appender-ref ref="ASYNC_STDOUT"/>
		<appender-ref ref="ASYNC_FILE"/>
	</root>

</configuration>
