<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">

	<profiles>
		<profile>
			<id>xap</id>
			<activation></activation>
			<repositories>
				<repository>
					<id>org.openspaces</id>
					<url>http://maven-repository.openspaces.org</url>
				</repository>
			</repositories>
		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>xap</activeProfile>
	</activeProfiles>

</settings>
